:root {
    /* Fonts */

    /* Text colors */
    --main-txt-cl: #212121;
    --scn-txt-cl: #757575;
    --third-txt-cl: #FFFFFF;
    
    /* Background colors */
    --main-bg-cl: #2F303A;

    /* Others */
    
}

body {
    color: var(--main-txt-cl);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    
}

.pecul-subtitle,
.team-subtitle,
.img-subtitle
 {
    color: var(--scn-txt-cl);
}

/* Как вариант */
/* p {
   color: var(--scn-txt-cl); 
} */

.hero,
.footer {
    background-color: var(--main-bg-cl);
}

.link {
    text-decoration: none;
    color: var(--main-txt-cl);
}

.addr-link,
.hero-title {
    color: var(--third-txt-cl);
}